<h1>Add Post</h1>
<form method="post" action="/new">

  <input type="text" placeholder="Author's name" name="author">
  <input type="text" placeholder="message text" name="messageText">
  <button type="submit">Submit</button>
</form>